[Desktop Entry]
Type=Application
Name=Snipaste
Icon=/home/yuzujr/Software/snipaste/logo.png
Exec="/home/yuzujr/Software/snipaste/Snipaste-2.10.8-x86_64.AppImage"
Terminal=false
Hidden=false
OnlyShowIn=KDE;
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=3
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-KDE-UniqueApplet=true
