[Unit]
Description=swayidle for niri session
PartOf=niri.service
After=niri.service
Requisite=niri.service

[Service]
ExecStart=%h/.config/niri/scripts/swayidle.sh
Restart=on-failure

[Install]
WantedBy=niri.service

